
.card {
    
}

.card:hover {

    outline:
}


#container {
    width: 100%;
}

body {
    background-color:;
    font-size: 12pt;
    font-smooth: never;
    -webkit-font-smoothing: none;
    text-align: center;
    display: block;
    margin: auto;
    width: px;
    text-align: center;
    justify-content: center;
}

.divhg {
    width:800px;
    background-color: white;
    margin:auto;
    padding: ;
    display: inline-block;

}





.divshort { 
    width: 800px
}


.divshit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divovie {
    columns: 3;
    background-color:rgb(255, 255, 255);
    flex: ;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 1200px ;
    margin: 20px 20px 20px 20px;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
    vertical-align: ;
    display: ;
    color:black;
    font-family: Lucida Sans Unicode;
    font-size: 12pt;
    overflow: hidden;
    
}


.card {
    width: 360px;
    height: 460px;
    margin: 7px 2px 30px 2px;
    padding: 2px 2px 2px 2px;
    background-color: white;
    text-align: left;
    object-fit: cover;
    flex:
    

}

.container {
    justify-content: center;
}

.divfl {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.divwrap {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

.divwrapp {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: ;
    height: auto; 

}


.divgg {
    width: 730px;
    background-color:rgb(23, 23, 25);
    margin: 50px 10px 50px 10px;
    vertical-align: top;
    justify-content: flex-start;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: ;
    height: auto; 


}

.divggg {
    width: 760px;
    background-color:rgb(23, 23, 25);
    margin: 50px 10px 50px 10px;
    vertical-align: top;
    justify-content: flex-start;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto; 


}

.divgg8 {
    width: 800px;
    background-color:rgb(23, 23, 25);
    margin: 50px 10px 50px 10px;
    vertical-align: top;
    justify-content: flex-start;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto; 


}

.divpar {
    line-height: 40%;
    font-family: consolas;

}

.divsm {
    width: 760px;
    background-color:rgb(23, 23, 25);
    margin: 50px 10px 50px 10px;
    vertical-align: top;
    display: flex;
    justify-content: flex-start;
    
    height: auto; 

}

.divpdd {
    width: 760px;
    background-color: #f3efe8;
    margin: 50px 10px 50px 10px;
    vertical-align: top;
    justify-content: flex-start;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: ;
    height: auto; 


}

.divggold {
    width: 710px;
    background-color:rgb(255, 255, 255);
    margin: 50px 10px 50px 10px;
    vertical-align: top;
    justify-content: flex-start;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: ;
    height: auto; 


}

.imgflex {
    max-width: 100%;
    height: auto;
    margin: 20px 0px 20px 0px;
}

.pflex {
    max-width: 100%;
    height: auto;
    margin: 5px 0px 10px 0px;
}

.flexspace {
    max-width: 100%;
    height: auto;
    margin: 30px 0px 30px 0px;

}

.titleflex {
    max-width: 100%;
    height: auto;
    margin: 10px 0px 10px 0px;
    padding: 0px;

}

.imgbuffer {
    max-width: 100%;
    height: auto;

}

.vidflex {
    max-width: 100%;
    height: auto;
    margin: 20px 0px 20px 0px;
}

.divvid {
    width: 730px;
    background-color:rgb(23, 23, 25);
    margin: 50px 5px 50px 5px;
    display: flex;
    flex-direction: column;
}

.clear {
    clear: both;
}
    

    .divreg {
            width: 710px;
            background-color:rgb(255, 255, 255);
            
            margin: 50px 5px 50px 5px;
            padding: 0px 5px 0px 5px;
            vertical-align: top;
            justify-content: center;
            text-align: left;
            display: inline-block ;
            overflow: hidden;
    
            
            color:black;
            font-family: Lucida Sans Unicode;
            font-size: 16px;
            max-width: 100%;
            height: auto;
        }
    




    .divregg {
            width: 730px;
            background-color:rgb(23, 23, 25);
            
            margin: 50px 5px 50px 5px;
            padding: 0px 5px 0px 5px;
            vertical-align: top;
            justify-content: center;
            text-align: left;
            display: flex;
            display: inline-block;
            overflow: hidden;
            
            color:rgb(255, 255, 255);
            font-family: Lucida Sans Unicode;
            font-size: 16px;
            max-width: 100%;
            height: auto;

        }


    


    

.divcap {
    width: 400px;
    font-family: lucida sans unicode;
    font-size: .8rem;
    color: black;
    background-color: white;
    width: 700px;
    overflow: ;
    justify-content: center;
    text-align: center;
    margin: 2px 2px 5px 2px;
    padding: 0px 0px 0px 0px;

}


.divesc {
    width: 700px;
    max-width: 100%;
    display: flex;
    margin: 0px 240px 0px 240px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.divtrans {
    width:600px;
    background-color: white;
    color: black;
    justify-content: left;
    text-align: left;
    padding: 0px 200px 0px 200px;
    
}



.imgreg {
    margin: 5px 0px 5px 0px;
    max-width: 100%;
}

.imgkale {
    width: 150px;
}

.title-button-blue {
    background-color:#2a61cf;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}


.title-button-green {
    background-color:#169978;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}

.title-button-red {
    background-color:#cf2a2a;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 5px;
    border-color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}

.title-button-wild {
    background-color: black;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}

.title-button-grey {
    background-color:#7c7c7c;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: px;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}

.thumbnail {
    cursor: pointer;
}

.thumbnail:hove {

    outline: 6px solid yellow;
}


