
.card {
    
}

.card:hover {

    outline:
}

a {
    color:grey;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;

}
#container {
    width: 100%;
}

body {
    background-color:;
    font-size: 12pt;
    font-smooth: never;
    -webkit-font-smoothing: none;
    text-align: center;
    display: block;
    margin: auto;
    width: px;
    text-align: center;
    justify-content: center;
}

.divhg {
    width:800px;
    background-color: white;
    margin:auto;
    padding: ;
    display: inline-block;

}





.divshort { 
    width: 800px
}


.divshit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divovie {
    columns: 3;
    background-color:rgb(255, 255, 255);
    flex: ;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 1200px ;
    margin: 20px 20px 20px 20px;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
    vertical-align: ;
    display: ;
    color:black;
    font-family: Lucida Sans Unicode;
    font-size: 12pt;
    overflow: hidden;
    
}


.card {
    width: 360px;
    height: 480px;
    margin: 7px 2px 30px 2px;
    padding: 2px 2px 2px 2px;
    background-color: white;
    text-align: left;
    object-fit: cover;
    flex:
    

}


.divfl {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}


    

    .divreg {
            width: 710px;
            background-color:rgb(255, 255, 255);
            
            margin: 50px 0px 50px 0px;
            padding: 0px 5px 0px 5px;
            vertical-align: top;
            justify-content: center;
            text-align: left;
            display: inline-block ;
            overflow: hidden;
            
            color:black;
            font-family: Lucida Sans Unicode;
            font-size: 12pt;
        }
    
    


    



    .divregg {
            width: 710px;
            background-color:rgb(23, 23, 25);
            
            margin: 50px 0px 50px 0px;
            padding: 0px 5px 0px 5px;
            vertical-align: top;
            justify-content: center;
            text-align: left;
            display: inline-block ;
            overflow: hidden;
            
            color:rgb(255, 255, 255);
            font-family: Lucida Sans Unicode;
            font-size: 12pt;
        }
    
@media only screen and (max-width: 2500px) {
    .divregg {
        width: 710px;

    }
}

@media only screen and (max-width: 2500px) {
    .divreg {
        width: 710px;

    }
}






   
    

.divcap {
    width: 400px;
    font-family: lucida sans unicode;
    font-size: .8rem;
    color: black;
    background-color: white;
    width: 700px;
    overflow: ;
    justify-content: center;
    text-align: center;
    margin: 2px 2px 5px 2px;
    padding: 0px 0px 0px 0px;

}


.divesc {
    width: 700px;
    overflow: hidden;
    align-content: center;
    margin: 0px 240px 0px 240px;
}

.divtrans {
    width:600px;
    background-color: white;
    color: black;
    justify-content: left;
    text-align: left;
    padding: 0px 200px 0px 200px;
    
}



.imgreg {
    margin: 5px 0px 5px 0px;
}

.imgkale {
    width: 150px;
}

p {
    font-family: Lucida Sans Unicode;
    text-align: justify;
    text-indent: 0%;
    padding: 0px 0px 0px 0px;
    margin: 10px 5px 10px 5px;
    vertical-align: top;
    font-size: 1rem;
    line-height: 1.5;
}


.title-button-blue {
    background-color:#2a61cf;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}


.title-button-green {
    background-color:#169978;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}

.title-button-red {
    background-color:#cf2a2a;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 5px;
    border-color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}

.title-button-wild {
    background-color: black;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}

.title-button-grey {
    background-color:#7c7c7c;
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: px;
    font-weight: bold;
    font-size: 1rem;
    cursor: ;
    margin-left: px;
    transition: background-color 1s, color 1s;
    box-shadow: 5px 5px 10px rgba (0,0,0, 0.15)
}

.thumbnail {
    cursor: pointer;
}

.thumbnail:hove {

    outline: 6px solid yellow;
}

.thumbnailsmall


